.top {
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.header {
   
}

h2 {
    font-size:  18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    background-color: #3882f6;
    border-radius: 10%;
    color: white;

}

.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}